/bin/
/obj/
/out/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
*.nuget.props
*.nuget.targets
project.nuget.cache

# Ignore all docker-compose files
docker-compose*.yml

# But track the example file
!docker-compose.example.yml

# Ignore .env files
.env
.env.*
!.env.example